.message-container {
  /* height: 350px; */
  width: 350px;
  background-color: wheat;
  text-align: center;
  border: 1px solid;
  margin-top: 25px;
  color: black;
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.top-container {
  width: 100%;
  height: 50px;
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-container button {
  background-color: whitesmoke;
  color: black;
  width: 100px;
  height: 40px;
  margin-left: 120px;
  margin-right: 120px;
}

.home-container {
  /* width: 100vw; */
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-container {
  /* flex: 1; */
  width: 750px;
  height: 500px;
  background-color: white;
  border-radius: 32px;
  color: black;
  display: flex;
  flex-direction: column;
}

.tasks {
  margin: 10px;
  flex: 1;
  max-height: 60vh;
  overflow: auto;
}

.tasks > div {
  border: 1px solid;
  margin: 5px;
  height: 75px;
  padding-bottom: 15px;
}

.tasks > div img {
  margin-left: 3px;
  width: 30px;
  height: 30px;
  object-fit: fill;
}

.tasks div p:hover {
  cursor: pointer;
}

.tasks div[class='true'] p {
  text-decoration: line-through;
}

.task-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.task-input-container > p {
  word-wrap: break-word;
  word-break: break-all;
}

.input-title {
  flex: 1;
  text-align: center;
  padding-left: 40px;
}

.material-symbols-rounded {
  visibility: hidden;
  transition: visibility 0.2s;
  margin-top: 10px;
  margin-right: 5px;
}

.task-input-container:hover .material-symbols-rounded {
  visibility: visible;
}

.add-task-container {
  margin-left: 25px;
  margin-right: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#add-task {
  width: 500px;
}

#add-task-btn {
  margin-bottom: 5px;
  margin-left: 10px;
}
